*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.btn-gradient {
    display: block;
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #fff;
    background-size: 200%;
    transition: 0.5s;
}

.btn-gradient:hover {
    background-position: right center;
}



/* Start header */
header {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    z-index: 4;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__container nav {
    display: flex;
    align-items: center;
}
.header__container ul {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header__container li {
    padding: 55px 15px;
    font-weight: 700;
    font-size: 15px;
}
.header__container i {
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
    transition: 0.3s;
}
.header__container li span {
    display: inline-block;
    transition: all 0.5ss;
}
.header__container li:hover a,
.header__container li:hover i {
    color: #f55f8d !important;
}
.header__container li:hover span {
    animation: upToDown 0.3s;
}

.header__container .btn-gradient {
    display: block;
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(
        to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%
    );
    color: #fff;
    background-size: 200%;
    transition: 0.5s;
}
.header__container .btn-gradient:hover {
    background-position: right center;
}


@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}
/* End header */



/* Start carousel */
.carousel {
    font-family: 'Roboto', sans-serif;
    background-image: url(../image/Samar/pic2.png);
    background-position: top;
    background-size: 100%;
    padding-top: 180px;
}
.carousel__container {
    display: flex;
    align-items: center;
}

.carousel__left {
    width: 60%;
}
.carousel #title {
    margin-bottom: 20px;
}
.carousel__left #title p {
    font-size: 22px;
    font-weight: 700;
    color: #f55f8d;
    margin-bottom: 20px;
}
.carousel__left #title h1 {
    font-size: 70px;
}

.carousel__left .bottom-title p {
    font-size: 18px;
    color: #636363;
    margin-bottom: 20px;
}
.carousel__left .bottom-title li {
    font-size: 20px;
    color: #636363;
    padding: 10px 5px 10px 0;
}
.carousel__left .bottom-title i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    border-radius: 30px;
    background-size: 200%;
}
.bottom-title .btn-gradient {
    display: block;
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #fff;
    background-size: 200%;
    transition: 0.5s;
    margin-top: 20px;
}
.bottom-title .btn-gradient:hover {
    background-position: right center;
}


.carousel__right {
    width: 40%;
}
.carousel__right .banner {
    width: 570px;
    margin-left: 50px;
}
.carousel__right img {
    display: block;
    width: 100%;
}
/* End carousel */



/* Start service */
.service {
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
    background-image: url(../image/Samar/bg2.png);
    overflow: hidden;
    padding-bottom: 20px;
}
.service .title {
    text-align: center;
}
.service .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f55f8d;
}
.service .title h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.service__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.service__item {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 45px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: all 0.5s;
}
.service__item:hover {
    transform: translateY(-20px);
}
.service__item img {
    width: 215px;
}
.service__item h3 {
    margin: 20px;
    font-size: 24px;
}
.service__item p {
    font-size: 16px;
    line-height: 30px;
}
/* End service */



/* Start about us */
.aboutUs {
    background-image: url(../image/Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
}
.aboutUs__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.aboutUs__left {
    width: 60%;
    position: absolute;
    left: -17%;
}
.aboutUs__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutUs__right {
    width: 50%;
}
.aboutUs__right .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f55f8d;
}
.aboutUs__right .title h2 {
    font-size: 70px;
    margin-bottom: 20px;
}
.aboutUs__right .bottom-title {
    color: #636363;
}
.bottom-title p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 27px;
}
.aboutUs__right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
.bottom-title li {
    padding: 7px;
}
.bottom-title .btn-gradient {
    display: block;
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #fff;
    background-size: 200%;
    transition: 0.5s;
}
.bottom-title .btn-gradient:hover {
    background-position: right center;
}
/* End about us */



/* Start number */
.number {
    font-family: 'Roboto', sans-serif;
    background-image: url(../image/Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}
.number__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.number__item {
    width: 25%;
    text-align: center;
}
.number__item i {
    font-size: 45px;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
        );
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
    
}
.number__item p {
    font-size: 65px;
    font-weight: 700;
    color: #f55f8d;
}
.number__item .desc {
    font-size: 18px;
    font-weight: 400;
    color:  #000;
}
/* End number */



/* Start feature */
.feature {
    font-family: 'Roboto', sans-serif;
    background-image: url(../image/Samar/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 120px;
}

.feature__content {
    display: flex;
    align-items: center;
}
.feature__left {
    width: 50%;
}
.feature__left .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f55f8d;
}
.feature__left .title h2 {
    font-size: 70px;
    margin-bottom: 20px;
}


.feature__item {
    padding: 0 50px 30px 0;
}

.feature__item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}
.item__wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transition: all 1s;
}
.feature__item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}
.feature__item h3 {
    font-size: 22px;
}
.feature__item p {
    color: #636363;
    margin-top: 10px;
    font-size: 16px;
    transition: all 1s;
}
.item__wrapper::after {
    content: "";
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}
.item__wrapper:hover::after {
    opacity: 1;
}
.item__wrapper:hover div, 
.item__wrapper:hover i, 
.item__wrapper:hover p {
    color: #fff;
}
.feature__item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}

.feature__right {
    width: 50%;
}
.feature__banner {
    margin-right: -80px;
}
.feature__banner img {
    max-width: 100%;
    animation: move2 5s infinite;
}



@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px)
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px)
    }
}
/* End feature */



/* Start portfolio */
.portfolio {
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
}
.portfolio .title {
    text-align: center;
}
.portfolio .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f55f8d;
}
.portfolio .title h1 {
    font-size: 70px;
    margin-bottom: 20px;
}
.portfolio__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 35px;
}


.portfolio__item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, .3) 100%
    );
    transform: skewX(-25deg);
    transition: all .75s
}
.portfolio__item:hover::before {
    left: 125%
}


.portfolio__item img {
    width: 100%;
    height: 100%;
}
.portfolio__item1 {
    grid-column: 1 / span 2;
}
.portfolio__item5 {
    grid-column: 1 / span 2;
}
.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all 0.5s;
}
.portfolio__overlay:hover {
    opacity: 1;
}
.overlay__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    width: 50px;
    height: 50px;
    background: linear-gradient(
        to right, 
        #f55f8d 0, 
        #f8ae56 51%, 
        #f55f8d 100%
    );
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay__icon a {
    color: #fff;
}
.portfolio__item:hover .overlay__icon {
    transform: translate(0);
}
.overlay__icon a {
    cursor: pointer;
}

.overlay__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.7s;
}

.portfolio__item:hover .overlay__text {
    transform: translateY(0);
}

.overlay__text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
}

.overlay__text p {
    color: #fff;
    opacity: 1;
}
/* End portfolio */


/* Start plan */
.plan {
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
    background-image: url(../image/Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.plan__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 30px;
}
.plan .title {
    text-align: center;
}

.plan .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f55f8d;
}

.plan .title h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.plan__item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
    border-image: 100 round;
    transition: all 0.3s;
}
.plan__item:hover {
    border-image: url(../image/Samar/br.png) 1 round;
    transition: all 1s;
}

.plan__item img {
    width: 125px;
}

.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 30px;
}

.plan__item li, .plan__item p {
    font-size: 18px;
    color: #262626;
    font-weight: 700;
    margin-bottom: 10px;
}

.plan__item li {
    font-weight: 400;
}

.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 700;
}
.plan__item ul {
    text-align: left;
    padding: 20px 0;
    border-top: 1px solid #e1e1f0;
}
.plan__item li {
    padding: 5px 0;
}
.plan__item i {
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.plan__item button {
    margin: 0 auto;
}
/* End plan */



/* Start testimonial */
.testimonial {
    text-align: center;
    background-image: url(../image/Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
}
.testimonial .title {
    text-align: center;
}

.testimonial .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f55f8d;
}

.testimonial .title h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.testimonial__content {
    min-height: 300px;
}

.testimonial__thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.testimonial__thumbs .testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial__thumbs::after,
.testimonial__thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.testimonial__thumbs::before {
    left: 0;
    background: linear-gradient(
        to right, 
      #fff, 
      rgba(255, 255, 255, 0) 100%,
    );
}

.testimonial__thumbs::after {
    right: 0;
    background: linear-gradient(
        to left, 
        #fff, 
        rgba(255, 255, 255, 0) 100%,
    );
}

.testimonial__pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx {
    opacity: 1;
}

.testimonial__pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../image/Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.testimonial__pic::after,
.testimonial__pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial__pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial__pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
    opacity: 1;
}

.testimonial__comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial__comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial__thumbs .testimonial__pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
    padding: 0 0 40px;
}

.testimonial__text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
}

.swiper-pagination-bullet-active {
    background: #f55f8d;
}

.testimonial__text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial__text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    margin-top: 40px;
    line-height: 30px;
    color: #636363;
}

.testimonial__name {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    line-height: 26px;
    margin-bottom: 10px;
}

.testimonial__position {
    font-size: 18px;
    color: #f55f8d;
    padding-top: 10px;
    margin-bottom: 20px 0 40px;
    padding: 0;
}
/* End testimonial */


/* Start blog */
.blog {
    padding: 120px 0 15px;
    text-align: center;
    background-image: url(../image/Samar/bg16.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.blog .title {
    text-align: center;
}

.blog .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f55f8d;
}

.blog .title h1 {
    font-size: 70px;
    margin-bottom: 20px;
}
.blog__item {
    text-align: left;
    background: rgba(245, 95, 141, .1);
    border-radius: 8px;
}

.blog__header {
    position: relative;
}

.blog__header img {
    width: 100%;
    border-radius: 8px;
}

.blog__header p {
    background: linear-gradient(
        to right, 
        #f55f8d 0, 
        #f8ae56 51%, 
        #f55f8d 100%
    );
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog__footer p:first-of-type {
    margin-right: 20px;
}

.blog__footer p:first-of-type span {
    color: #f55f8d;
}
/* End blog */



/* Start footer */
footer {
    background-image: url(../image/Samar/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: 'Roboto', sans-serif;
    display: block;
    height: auto;
    background-color: #0e1b1f;
    color: #fff;
    font-size: 15px;   
    padding-top: 120px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(../image/Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__top {
    position: relative;
    display: flex;
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    background-image: url(../image/Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer__form,
.footer__text {
    width: 50%;
}

.footer__text h2 {
    font-size: 28px;
    color: #262626;
}

.footer__form form {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 10px 0 0 10px;
    border: 1px solid #fff;
    outline: 0;
    transition: all 0.5s;
}

.footer__form input:focus,
.footer__form input:hover {
    border-color: #f55f8d;
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(
        to right, 
        #f55f8d 0, 
        #f8ae56 51%, 
        #f55f8d 100%
    );
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 10px 10px 0;
    color: #fff;
    cursor: pointer;
}

.footer__form button:hover {
    background-position: right center;
}

.footer__form button:hover i {
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block;
}

.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item {
    width: 25%;
}

.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer__item h3::after,
.footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(
        to right, 
        #f55f8d 0, 
        #f8ae56 51%, 
        #f55f8d 100%
    );
    background-size: 200%;
}

.footer__item h3::before {
    width: 15px;
}

.footer__item h3::after {
    width: 45px;
    left: 20px;
}

.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(
        to right, 
        #f55f8d 0, 
        #f8ae56 51%, 
        #f55f8d 100%
    );
    display: block;
    border-radius: 50px;
}

.footer__item li {
    padding: 10px 0;
}

.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all 0.5s;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer__item a:hover {
    color: #fff;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left span {
    color: #f55f8d;
}

.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    transition: all 0.5s;
}
.footer__copyright a:hover {
    background: #f55f8d;
}
@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        transform: translateX(-100%)
    }

    51% {
        opacity: 1
    }
}
/* End footer */



/* Back to Top */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}